* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f7fa;
    color: #222;
    line-height: 1.6;
}

header {
    background: #111827;
    color: white;
    padding: 70px 20px;
    text-align: center;
}

header h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    color: #d1d5db;
}

section {
    max-width: 900px;
    margin: 35px auto;
    padding: 30px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.07);
}

h2 {
    color: #2563eb;
    margin-bottom: 15px;
}

ul {
    list-style: none;
}

li {
    background: #f1f5f9;
    margin: 12px 0;
    padding: 15px;
    border-radius: 10px;
}
.buttons {
    margin-top: 25px;
}

.buttons a {
    display: inline-block;
    text-decoration: none;
    background: #2563eb;
    color: white;
    padding: 12px 22px;
    border-radius: 8px;
    margin: 8px;
    font-weight: bold;
}

.buttons a:hover {
    background: #1d4ed8;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 12px;
}

.skills-grid span {
    background: #eef2ff;
    color: #1e3a8a;
    padding: 12px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

.project-card {
    background: #f8fafc;
    padding: 20px;
    margin: 18px 0;
    border-radius: 12px;
    border-left: 5px solid #2563eb;
}

.project-card h3 {
    margin-bottom: 10px;
    color: #111827;
}

a {
    color: #2563eb;
}
.project {
    margin-bottom: 20px;
}

.project a {
    margin-right: 10px;
    color: #2563eb;
    text-decoration: none;
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
}